<header>
<h1>Budgets</h1>
<%= link_to 'Sign up', new_user_registration_path, class: 'btn'%>
</header>
<section class="splash">
  <%= image_tag('splash.jpg')%>
  <div class="actions">
  <%= link_to 'Continue', user_session_path, class: 'btn'%>
  </div>
</section>