/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 :root{
   --header-height: 55px;
   --footer-height:45px;
 }


@font-face {
  font-family: 'Proxima Nova Light';
  src: url('proxima_nova.ttf');
}

.alert,
.notice {
  margin: 0;
}
body {
  color: #434b54;
  font-family: 'Proxima Nova Light';
  padding: 0;
  margin: 0;
}
header{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  height: var(--header-height);
  background: #3778c2;
  color: #fff;
  width: 100%;
  align-items: center;
  align-content: center;
}

header * {
  margin: 0;
}

.btn{
  display: inline-flex;
  padding: 0px 10px;
  border:none;
  text-decoration: none;
  color: #434b54;
  background: #fff;
  align-items: center;
  align-content: center;
  height: 30px;
  border-radius: 4px;
  margin: 0 5px;
  box-shadow: 0px 3px 6px #434b54;
  font-size: 13px;
  cursor: pointer;
}
.bg-danger{
  background: #ff4500 !important;
  color: #fff !important;
}
main {
  display: flex;
  position: fixed;
  flex-flow: column;
  position: fixed;
  top: calc(var(--header-height) + 15px);
  bottom: var(--footer-height);
  left: 0;
  right: 0
}


footer{
  display: flex;
  position: fixed;
  flex-flow: row;
  justify-content: center;
  height: var(--footer-height);
  background: #5fb523;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  align-content: center;
}

footer a{
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

.category_wrapper {
  display: flex;
  width: 100%;
  color: initial;
  text-decoration: none;
}

.category_card {
  display: flex;
  width: calc(100% - 16px);
  flex-flow: row wrap;
  align-items: center;
  box-shadow: 0px 3px 16px #ccc;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 3px;
}

.category_actions {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.category_card .icon {
  width: 80px;
  border-radius: 3px;
  height: 80px;
}

.category_card .details {
  display: inline-flex;
  min-width: calc(100% - 90px);
  padding-left: 5px;
  height: 60px;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 10px;
  color: #434b54d3;
}

.category_card .details .top_data {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.category_card .details .top_data .name {
  margin: 0;
  font-size: 16px;
}

.category_card .details .top_data .total {
  font-weight:900;
  font-size: 18px;
  color: #434b54;
}
.category_card .details .bottom_data {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-content: center;
  margin-bottom: -5px;
}
.category_card .details .bottom_data button.btn{
  padding: 2px 5px;
  height: fit-content;
  background: #fff !important;
  color: #ff4500 !important;
  border-radius: 2px ;
}
.category_card .details time{
  display: inline-flex;
  align-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 13px;
}

.new_transaction,
.new_category {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.auth-form .field,
.new_transaction .input-fields,
.new_category .input-fields{
  width: 100%;
}
.auth-form,
.input-wrapper {
  width: 96%;
  /* border: 1px solid red; */
  flex-direction: column;
  display: flex;
  margin: 0 auto;
  padding: 5px;
}
.auth-form .field input:not([type="checkbox"]),
.input-wrapper select,
.new_transaction .input-fields input,
.new_category .input-fields input {
  display: flex;
  height: 30px;
  padding: 5px;
  border-radius: 4px;
  width: 100%;
  margin: 10px auto;
  border: 1px solid #434b5475;
  box-shadow: 0px 0px 18px #3778c283;
  outline-color: #3778c2;
  color: #434b5475;
  background: #fff;
}
.input-wrapper select{
  width: 101%;
}
.auth-form .field input::placeholder,
.new_transaction .input-fields input::placeholder,
.new_category .input-fields input::placeholder {
  font-size: 13px;
  font-family: 'Proxima Nova Light';
  font-weight: bold;
  letter-spacing: 1px;
}

.new_category .actions,
.new_transaction .actions {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  /* border: 1px solid green; */
}
.actions input {
  margin: 0 auto;
  background: #3778c2;
  color: #fff;
  cursor: pointer;
  transition: .6s;
}

.actions input:hover{
  background: #5fb523;
}

#transaction {
  display: flex;
  justify-content: space-around;
  flex-flow: column;
}
#transactions .transaction{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  transition: 0.6s;
  padding: 5px;
}

#transactions .transaction:hover{
  background: #434b5413;
}

/* AUTH FORMS */

.auth-form h2{
  text-align: center;
}

.auth-form .actions{
  display: flex;
  width: 100%;
  justify-content: center;
}

.auth-form .btn{
  margin: 20px;
}

.auth-links {
  display: flex;
  flex-flow: column;
  width: 95%;
  margin: 10px auto;
  gap: 5px;
}

.auth-links a{
  color: #434b54;
  text-decoration: none;
  transition: 0.6s;
  font-size: 14px;
}

.auth-links a:hover{
  color: #3778c2;
}