<p style="color: green"><%= notice %></p>

<h1>Categories</h1>

<div id="categories">
  <% @categories.each do |category| %>
    <%= link_to render(category), category, class:'category_wrapper'%>
  <% end %>
</div>

<%= link_to "New category", new_category_path %>
