<header>
<h1>Budgets</h1>
</header>
<main>
  <% @categories.each do |category| %>
    <%= link_to render(category), category_transactions_path(category), class:'category_wrapper'%>
  <% end %>
</main>

<footer>
<%= link_to "New category", new_category_path %>
</footer>
